services:
  reconciliation:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api_gsheet_project
    ports:
      - "8080:8080"
    volumes:
      - .:/api_gsheet_project
      - /c/ProgramData/Reconciliation_design/API_gsheet_project:/data  
    environment:
      PYTHONDONTWRITEBYTECODE: "1"
      PYTHONUNBUFFERED: "1"   
      XERO_CLIENT_ID: ${{secrets.XERO_CLIENT_ID}}
      XERO_CLIENT_SECRET: ${{secrets.XERO_CLIENT_SECRET}}
      XERO_REDIRECT_URI: "http://localhost:8080/callback"
      tenant_id: "d7418ac2-e3ec-488b-b942-5bfef34ff7b7"
    
    working_dir: /api_gsheet_project
    restart: "no"



    command: ["bash", "trigger.sh"]
